/* 7. 자, 그럼 앞에 짠 마크업에 스타일링을 입혀볼까요? */

/* 8. a태그는 기본적으로 가지고 있는 이러한 스타일이 있으니 이걸 초기화를 시켜볼께요.
        이 밑줄을 없에고 색상을 바꿔주겠습니다. */
a{
    text-decoration:none;
    color:white;
}

/* 9. 배경색과 같은 흰색으로 색상을 변경해서 컨텐츠가 안보입니다. 백그라운드 색깔을 바꿔주시고 */
.menu-bar{
    background-color:#777;

    /* 17. */
    overflow:auto;
}

/* 10. 메뉴들이 너무 작으니까 안쪽에 패딩값을 줘서 크기를 키워보겠습니다. */
.menu-bar a{
    padding:12px;
    /* 11. 가로 패딩은 먹었는데 새로가 안먹네요. 왜 그럴까요?
        a태그가 inline 요소를 갖고 있어서 그렇습니다.
        inline-block 요소로 바꿔줍니다. */
    display:inline-block;
    /* 12. 폰트사이즈도 좀 키워줄까요? */
    font-size:18px;

    /* 17. 그리고 완성된 모습을 보시면 메뉴들 사이에 요소 특성상 여백이 생깁니다.
       여백을 없애기 위해 메뉴들을 float으로 띄워주고 부모에 overflow:auto을 주어
       깔끔하게 자동 정렬되는 것도 확인해주세요. */
    float:left;
}

/* 13. 이번엔 메뉴에 마우스를 올려볼까요? 배경색이 이렇게 바뀌는걸 보실수 있습니다.
    .menu-bar의 a태그에 마우스를 hover했을 때 백그라운드 컬러값을 바꿔주는 코드를 작성하면 됩니다 */
.menu-bar a:hover{
    background-color:black;
}

/* 14. 마지막으로 맨 앞쪽의 메뉴 home을 보면 배경색이 마우스오버가 없어도 혼자 다르잖아요?
    이건 이 home메뉴가 활성화 됬을때를 나타내는 거에요. 즉, 마우스를 오버했을때가 아니라
    마우스로 클릭을 했을 때를 보여주는 배경색이겠죠?
    이런 경우는 보통 스크립트로 클래스를 넣었다 뺐다 하면서 제어하기 때문에
    html 태그 자체에 클래스를 추가해 배경색을 변경해줍니다.
    (html 15번으로 이동) */

/* 16. 그럼 active 클래스를 가지고 있는 a태그 요소는 다른 배경색을 주는 코드를 작성해주시면 됩니다. */
.menu-bar a.active{
    background-color:teal;
}